.grid{
    width: 20.4rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.square{
    width: 6.5rem;
    height: 6.6rem;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.mole{
    background-image: url('mole.jpg');
    background-size: contain;
}
.mole:hover{
    scale: 1.05;
}